

  body {
    background-color: rgb(205, 198, 237);
  }
  


  p {
    font-family: Brush Script MT, Lucida Handwriting, cursive;
    
  }
  body {
    background-image: url("BACK.jpg");
  }
  
   
  

  
  